@charset "UTF-8";

$help-background-color: #387ef5;
$help-border-color: #0c63ee;
$help-text-color: #fff;

.help-slide-box {
  background-color: $help-background-color;

  ion-slide{}

  .item {
    background: none;
    border-color: $help-border-color;
    border-width: 0;
  }

  .footer {
    text-align: right;
  }

  .item-text-wrap {

    h2 {
      font-weight: bold;
      color: $help-text-color;
      text-transform: uppercase;
      opacity: 0.7;
      font-size: 0.8rem;
      margin-bottom: 0.7rem;
    }

    p {
      color: $help-text-color;
    }
  }

  .slider-pager .slider-pager-page {
    color: #666;
  }

  .pager{
    padding:5px;
    text-align: center;


    > div {
      display: inline-block;
    }

    span {
      background-color: $help-text-color;
      display:block;
      width: 10px;
      height: 10px;
      float: left;
      margin-right: 10px;
      border-radius: 50%;
      opacity: 0.5;

      &.active{
        opacity: 1;
      }
    }
  }

  button {
    color: $help-text-color !important;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.7;
  }
}