<div class="help-slide-box" ng-show="visible" on-drag-left="disableVerticalScrolling()" on-drag-right="disableVerticalScrolling()">
    <div class="item row-no-padding">
        <ion-slide-box on-slide-changed="updateSlideIndex($index)" show-pager="false">
            <ion-slide ng-repeat="slide in slides">
                <div class="item item-text-wrap ">
                    <h2>{{slide.title}}</h2>
                    <img ng-src="{{slide.image}}" width="100%" ng-if="slide.image" />
                    <p>{{slide.text}}</p>
                </div>
            </ion-slide>
        </ion-slide-box>
    </div>

    <div class="pager item row-no-padding" ng-if="slides.length > 1">
        <div>
            <span ng-repeat="slide in slides" ng-class="{'active': $index === currentSlideIndex}"></span>
        </div>
    </div>

    <div class="item footer" ng-click="discard()">
        <button class="button button-small button-clear">
            Ok, entendi
        </button>
    </div>
 </div>